.container{
    display: flex;
    justify-content: space-evenly;
    width: 1400px;
    text-align: center;
    height: auto;
    margin-top: 200px;
    padding: auto;
}

.card1{
    background-color: #bec0c1e5;
    width: 350px;
    font-family:monospace;
    font-size: x-large;
}
.card2{
    background-color: #bec0c1e5;
    width: 350px;
    font-family:monospace;
    font-size: x-large;
}

.card3{
    background-color: #bec0c1e5;
    width: 350px;
    font-family:monospace;
    font-size: x-large ;
}

button{
    background-color: rgb(255, 115, 0);
    padding: 5px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    border: none;
}
i{
    color: red;
}
input[type="checkbox"]{
    accent-color: #1bd41b;
}