
.container{
     border: 1px solid black;
     height: 500px;
     display: flex;
     flex-flow: wrap;
     justify-content: space-evenly;
     align-items: center;
     align-content: space-between;
     padding: 10px;


    }    


.cards{
    height: 200px;
    width: 200px;
    background-color: tomato;
    border-radius: 10px;
    justify-content: space-around;
    padding: 5px;

    
}
